.pandemic-game {
  text-align: center;
  margin-top: 1rem;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.pandemic-game__role-chooser {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.5rem;
}
