@import 'ember-bootstrap/bootstrap';

// Routes
@import './pandemic-start';
@import './pandemic-game';

// Components
@import './components/drawer';
@import './components/game-info-display';

$close-btn-dim: 48px;

.accordion {
  .card .card-header h5 button {
    padding: 0;
  }

  .card .card-header h5 button:hover,
  .card .card-header h5 button:focus {
    text-decoration: none;
    box-shadow: none;
  }
}

.close-btn {
  position: relative;
  border: none;
  width: $close-btn-dim;
  height: $close-btn-dim;
  opacity: 0.6;
  background-color: lightgray;
}

.close-btn:hover {
  opacity: 1;
}

.close-btn:before,
.close-btn:after {
  position: absolute;
  top: 8px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}

.close-btn:before {
  transform: rotate(45deg);
}

.close-btn:after {
  transform: rotate(-45deg);
}

.overflow-scroll {
  overflow: scroll !important;
}
