<BsAccordion as |acc|>
  {{#each @players as |player|}}
    {{#let (get-role-info player.role) as |role|}}
      <acc.item as |aitem|>
        <aitem.title class="team-info-display__name">
          <span>
            {{player.name}}
          </span>
          {{#if player.isTurn}}
            <i class="fas fa-star text-success">
              <BsTooltip @title="It is this player's turn!" />
            </i>
          {{/if}}
          <br />
          <span class="small text-secondary">
            {{role.name}}
          </span>
        </aitem.title>
        <aitem.body>
          {{#if role}}
            <p>
              <b>
                Role Description:
              </b>
              {{role.description}}
            </p>
          {{/if}}
          <p>
            <b>
              Hand:
            </b>
          </p>
        </aitem.body>
      </acc.item>
    {{/let}}
  {{/each}}
</BsAccordion>