$drawer-width: 300px;

.drawer {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  overflow: hidden; /* Disable scroll */
  padding-top: 9.5rem; /* Place content 9.5rem from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.drawer--open {
  width: $drawer-width;
}

.drawer--open + .pandemic-game {
  margin-right: $drawer-width;
}

.drawer_btns {
  position: fixed;
  width: $drawer-width;
  top: 0;
  right: 0;
  z-index: 10; /* Render above drawer */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}
