
<div class="text-center mt-3">
  <h1>
    Stop the Pandemic
  </h1>
  <p>
    Your game code is: {{uppercase this.model.code}}
  </p>
  <p>
  cities
  {{#each model.cities as |city|}}
    <li>
      id is
      {{city.cardId}}
    </li>
  {{/each}}
</p>
</div>
